<div class="main">
  <h3>Persons</h3>
  <select v-model="syncType">
    <option v-for="type in SyncTypes"
      :selected="type.key === syncType"
      :value="type.key">
      {{type.label}} 
    </option>
  </select> 
  <ul v-if="persons" class="list">
    <li v-for="(person, index) in persons"
      :class="{'list__selected': currentIndex === index}">
      id: {{person.id}} 
      <a href="#" @click.prevent="select(index)">select</a>
      {{index}}[{{changeType(person)}}] {{person.updated_at}} 
      <input type="text" :value="person.name"
        name="name" 
        @change="update(person, $event)" /> 
      <input type="button" 
        @click.prevent="remove(person)" 
        value="DEL" />
    </li>
    <input type="test" v-model="newName" v-on:keyup.enter="create" />
    <input type="button" @click.prevent="create" value="Add Person"/>
  </ul>
  <comments></comments>
</div>
